<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>404</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/index.html">Home</a>
      <a href="https://discord.gg/hTCHE3CBNW">Support</a>
      <a href="/404.html">Privacy Policy</a>
    </nav>
    <div id="particles"></div>
    <div class="container">
      <h1
        style="color: white; font-size: 100px; padding-top: 200px; margin: auto"
      >
        Page 404
        <img
          src="/src/img/caution.png"
          width="100px"
          style="vertical-align: -10px"
          alt=""
        />
      </h1>
      <h3 style="color: white; line-height: 4px">
        Oh uh! Doesn't look like this page exists yet!
      </h3>
      <button class="button" style="background-color: #e13255">
        <a href="/index.html">Go back</a>
      </button>
      <div class="footer">
        <h1>
          made with
          <img
            src="/src/img/heart.png"
            width="60px"
            height="auto"
            alt="heart"
          />
          by
          <a href="https://jddev.wtf">J_DDev</a>
        </h1>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script type="text/javascript" src="/src/js/particles.js"></script>
  </body>
</html>